.App {
  text-align: center;
  margin: 0 auto;
}
.container{
  margin: 50px auto;
  text-align: center;
  color: #555;
}
.beforeTime{
 width: 300px;
 background: #333;
 border-radius: 5px;
 padding: 15px;
  font-size: 40px;
  font-family: 'Keania One', cursive;
  margin: 0 auto;
  color:#7bff00;
  text-align: center;
}
.time{
  text-shadow: 0 0 4px #7bff00;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
